<div id="left">
	<form> 
	<p><strong>Origen</strong>
	<br/ >
	<label for="latitud_origen">Latitud</label>
	<input type="text" name="latitud_origen" id="latitud_origen" value="<%= @start_lat %>" />
	<br/>
	<label for="longitud_origen">Longitud</label>
	<input type="text" name="longitud_origen" id="longitud_origen" value="<%= @start_lon %>" />
	</p>

	<p><strong>Destino</strong>
	<br />
	<label for="latitud_destino">Latitud</label>
	<input type="text" name="latitud_destino" id="latitud_destino" value="<%= @end_lat %>" />
	<br />
	<label for="longitud_destino">Longitud</label>
	<input type="text" name="longitud_destino" id="longitud_destino" value="<%= @end_lon %>" />
	<br />
	</p>
	<p>
	<label for="algorithm">Algoritmo</label>
	<select name="algorithm">
		<option value="dijkstra">Dijkstra</option>
		<option value="astar">A*</option>
	</select>
	</p>
	<input type="submit" value="Consultar"/>
	</form>
	<br />
	<br />
<label for="tiempo">Tiempo Estimado</label>
<input type="text" name="tiempo" id="tiempo" />
<br />
<label for="distancia">Distancia Estimada</label>
<input type="text" name="distancia" id="distancia" />
</div>
<div id="center">
<%= raw(@map.div(:width => 960, :height => 600)) %>
</div>