<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Hermes Web Client</title>
    <%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "screen" %>
    <%= raw(GMap.header(:with_vml => false)) %>
    <% unless @map.nil? %>
      <%= raw(@map.to_html) %>
    <% end %>
  </head>
  <body>
	<div id="wrapper">
    	<%= yield %>
	</div>
  </body>
</html>